*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
	list-style:none;
}

@import './header';
@import './login';
@import './contactos';
@import './usuarios';
@import './regionCiudad';
@import './companias';
